@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(20000)}px #FFF";
  @for $i from 5 through $n {
    $value: "#{$value} , #{random(4000)}px #{random(20000)}px #FFF";
  }
  @return unquote($value);
}
$shadow: multiple-box-shadow(900);

#stars {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadow;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadow;
  }
}
body {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
.container {
  min-height: 100vh;
  height: 100%;
  background-color: black;
}
.selected-image div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
.selected-image img {
  width: 20em;
  height: 15em;
  justify-self: center;
}
.selected-image p {
  width: fit-content;
  text-align: center;
  align-self: center;
  font-family: "Strait", sans-serif;
  font-size: 1.5em;
  border-top: #ffe10866 2px solid;
  border-bottom: #ffe10866 2px solid;
  padding: 1em;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-areas: "Spirit Curiosity Perseverance Opportunity";
  text-align: center;
  padding-top: 5em;
}
.wrapper p {
  color: white;
  font-family: "Strait", sans-serif;
  font-size: 1.2em;
}
.offline {
  font-family: "Strait", sans-serif;
  text-align: center;
  color: white;
}
.wrapper p:nth-child(2) {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0;
}
.wrapper section:nth-child(2) p:last-child,
.wrapper section:nth-child(3) p:last-child {
  color: rgb(42, 168, 3);
}
.wrapper section p:last-child {
  color: rgb(197, 48, 43);
}
.wrapper img {
  transition: transform 0.2s;
  width: 10em;
  height: 6em;
}
.wrapper img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.wrapper section:nth-child(2) img,
.wrapper section:nth-child(3) img {
  width: 20em;
  height: 15em;
}
.wrapper section:nth-child(1) {
  grid-area: Spirit;
  display: flex;
  justify-content: flex-end;
}
.wrapper section:nth-child(2) {
  grid-area: Curiosity;
}
.wrapper section:nth-child(3) {
  grid-area: Perseverance;
}
.wrapper section:nth-child(4) {
  grid-area: Opportunity;
  display: flex;
  justify-content: flex-start;
}
.images {
  color: white;
  text-align: center;
  padding-top: 10em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
}
.images {
  font-family: "Strait", sans-serif;
}
.images div {
  padding-bottom: 8em;
}
.images img {
  transition: transform 0.2s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  width: 12em;
  height: 9em;
}
.images img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.loader {
  display: grid;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  opacity: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  transition: 0.5s;
  transition-delay: 0.3s;
  animation: rotating 1.2s linear infinite;
}
.loading {
  opacity: 1;
  transition-delay: 0;
}
@media screen and (max-width: 920px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "Curiosity Perseverance"
      "Spirit Opportunity";
  }
  .wrapper section:nth-child(2) img,
  .wrapper section:nth-child(3) img {
    width: 10em;
    height: 6em;
  }
  .wrapper section:nth-child(1) {
    display: flex;
    justify-content: center;
  }
  .wrapper section:nth-child(4) {
    display: flex;
    justify-content: center;
  }
  .selected-image div {
    grid-template-columns: 1fr;
  }
  .selected-image p {
    width: auto;
    text-align: center;
    align-self: center;
    font-family: "Strait", sans-serif;
    font-size: 1.5em;
    border-top: none;
    border-bottom: none;
    padding: 1em;
  }
}

@keyframes animStar {
  from {
    transform: scale(0.39);
  }
  to {
    transform: scale(0.4);
  }
}
